<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">

<div th:fragment="footer">
    <p style="text-align: center;">
        <a th:text="${dto.actionUrl}" th:href="${dto.actionUrl}">Action Link</a>
    </p>
    <p style="text-align: center;">For more info visit:
        <a th:href="${dto.websiteUrl}" th:text="${dto.websiteUrl}" target="_blank">Click Here</a>
    </p>
    <div style="margin: auto; width:90%; border-bottom: #9da2a3 solid 1px;"></div>
    <p style="text-align: center;"> Find us on:</p>
    <table style="margin: auto; width:auto;">
        <tr>
            <td class="social" style="display:inline-block">
                <a th:href="${dto.twitterUrl}">
                    <img class="fa" th:src="${dto.websiteUrl} + '/images/png/twitter.png'" alt='twitter' src=""/>
                </a>
                <a th:href="${dto.linkedinUrl}">
                    <img class="fa" th:src="${dto.websiteUrl} + '/images/png/linked-in.png'" alt='linkedin' src=""/>
                </a>
                <a th:href="${dto.facebookUrl}">
                    <img class="fa" th:src="${dto.websiteUrl} + '/images/png/facebook.png'" alt='linkedin' src=""/>
                </a>
                <a th:href="${dto.instagramUrl}">
                    <img class="fa" th:src="${dto.websiteUrl} + '/images/png/instagram.png'" alt='instagram' src=""/>
                </a>
            </td>
        </tr>
    </table>
</div>

</html>