<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">

<head th:replace="mail/common/header :: header"></head>

<body>
<div class="body">
    <div style="margin:auto; max-width: 600px;">
        <table style="padding: 10px;">
            <tr th:replace="mail/common/logo :: logo"></tr>
            <tr>
                <td>
                    <div class="content-box">
                        <h1 th:text="#{email.reset.title}"></h1>
                        <p>
                            <span th:text="#{email.greeting(${dto.message.firstName})}"></span>
                            <br/><br/>
                            <span th:text="#{email.reset.content}"></span>
                        </p>
                        <div style="min-width: 150px; width: 30%; margin: auto;">
                            <a th:href="${dto.actionUrl}">
                                <div class="button">Reset Password</div>
                            </a>
                        </div>
                        <br/>
                        <p th:text="#{email.link.message(#{email.reset.action})}" style="text-align: center;"></p>
                        <div th:replace="mail/common/footer :: footer"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>

</html>